body{
   font-family: Georgia;
}

nav{
   background-color: #EFEFEF;
   border: 1px solid rgb(28, 28, 28);
}
.title {
   font-weight: bold;
}

.card {
   border-radius: 45px;
   border: 1.5px solid black;
   height: auto;
   width: auto;
}

a {
   color: black;
   /* Default color */
}

a:hover {
   color: black;
   /* Color on hover */
}

.card.hover-active:hover {
   transform: scale(1.05);
   transition: all 0.3s ease;
   background-color: #FCE5CD;
}

.card.hover-active-no-color:hover {
   transform: scale(1.05);
   transition: all 0.3s ease;
}


.card img {
   margin-top: 10px;
   height: 200px;
   width:70%;
}

.green-outline {
   border: 3.5px solid #28a745;
}
.card-locked {
   background-color: #999999;
   color: white;
}
.card-subtext {
   font-style: italic;
   color:black;
}
.btn-accent {
   background-color: #FCE5CD;
   border: 1px solid rgb(28, 28, 28);
}
.btn-base {
   background-color: white;
   border: 1px solid rgb(28, 28, 28);
}
.btn-locked {
   background-color: #999999;
   color: white;
   border: 1px solid rgb(28, 28, 28);
}

button:hover{
   background-color: #FCE5CD;
}
.button-container {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   /* Adjust the gap between buttons */
}

.custom-button {
   width: 200px;
   /* Set the desired width for all buttons */
   white-space: normal;
   /* Allow text to wrap within the button */
   margin-right: 10px;
   /* Adjust the right margin to control the gap between buttons */
   margin-bottom: 10px;
}

.incorrect {
   /* border-color: red !important; */
   border: 3px solid red !important;
   /* Change the border color to red when selected */
}

.correct {
   /* border-color: green !important; */
   border: 3px solid green !important;
   /* Change the border color to green for the correct answer */
}

#goButton {
   display: none;
}

#answerDiv {
   display: none;
}
#questionNum {
   display: none;
}
.fixed-image-size {
   width: 300px;
   /* Adjust the width as needed */
   height: auto;
   /* Maintain aspect ratio */
}