.card {
   border-radius: 15px;
}

.card:hover {
   transform: scale(1.05);
   transition: all 0.3s ease;
}

.card img {
   width: 60%;
   height: 170px;
}

.green-outline {
   border: 3.5px solid #28a745;
}