{% extends 'navbar.html' %}
{% block content %}
<link rel="stylesheet" href="./static/main.css">
<h1 class="mt-5 mb-4 text-center title">Minutiae Master</h1>
<br>
<div class="row justify-content-center mt-4">
   {% for card in homepage_card_info %}
   <div class="col-md-3">
      {% if (card.href == "/master_home" and not master_clickable) or (card.href == "/solve_home" and not solve_clickable)%}
      <div class="card h-100 text-center card-locked">
      {% else %}
      <div class="card hover-active h-100 text-center {% if learn_green and card.href == '/learn_home'%}green-outline {% elif masterGreen and card.href == '/master_home'%}green-outline{% endif %}">
      {% endif %}
         {% if card.href == "/master_home" and not master_clickable%}
         <a class="stretched-link"><img src="{{ card.card_image }}" alt="{{ card.card_title }}"></a>
         <div class="card-body">
            <h5 class="card-title">{{ card.card_title }}</h5>
            <p class="card-text">{{ card.card_description }}</p>
            <br>
            {% if hasPatternScore or hasMinutiaeScore%}
               <p class="card-subtext">Your Scores</p>
               {% if hasPatternScore %}
                  {% if patternCorrectAns == numPatternQuestions%}
                  <p class="card-subtext title">Patterns: {{ patternCorrectAns }}/{{ numPatternQuestions}}</p>
                  {% else %}
                  <p class="card-subtext">Patterns: {{ patternCorrectAns }}/{{ numPatternQuestions}}</p>
                  {% endif %}
               {% endif %}
               {% if hasMinutiaeScore%}
                  {% if minutiaeCorrectAns == numMinutiaeQuestions%}
                  <p class="card-subtext title">Minutiae: {{ minutiaeCorrectAns }}/{{ numMinutiaeQuestions}}</p>
                  {% else %}
                  <p class="card-subtext">Minutiae: {{ minutiaeCorrectAns }}/{{ numMinutiaeQuestions}}</p>
                  {% endif %}
               {% endif %}
            {% else %}
               <p class="card-subtext">Unlocked after learning new concept!</p>
            {% endif %}
         {% elif card.href == "/master_home" and  master_clickable%}
         <a href="{{ card.href }}" class="stretched-link"><img src="{{ card.card_image }}" alt="{{ card.card_title }}"></a>
         <div class="card-body">
            <a href="{{ card.href }}" class="stretched-link">
               <h5 class="card-title">{{ card.card_title }}</h5>
            </a>
            <p class="card-text">{{ card.card_description }}</p>
            <br>
            {% if hasPatternScore or hasMinutiaeScore%}
               <p class="card-subtext">Your Scores</p>
               {% if hasPatternScore%}
                  {% if patternCorrectAns == numPatternQuestions%}
                  <p class="card-subtext title">Patterns: {{ patternCorrectAns }}/{{ numPatternQuestions}} :D</p>
                  {% else %}
                  <p class="card-subtext">Patterns: {{ patternCorrectAns }}/{{ numPatternQuestions}}</p>
                  {% endif %}
               {% endif %}
               {% if hasMinutiaeScore%}
                  {% if minutiaeCorrectAns == numMinutiaeQuestions%}
                  <p class="card-subtext title">Minutiae: {{ minutiaeCorrectAns }}/{{ numMinutiaeQuestions}} :D</p>
                  {% else %}
                  <p class="card-subtext">Minutiae: {{ minutiaeCorrectAns }}/{{ numMinutiaeQuestions}}</p>
                  {% endif %}
               {% endif %}
            {% else %}
               <p class="card-subtext">Scores will show up here:</p>
            {% endif %}
         </div>
         <!-- {% elif card.href == "/solve_home" and not solve_clickable%}
         <a class="stretched-link"><img src="{{ card.card_image }}" alt="{{ card.card_title }}"></a>
         <div class="card-body">
            <h5 class="card-title">{{ card.card_title }}</h5>
            <p class="card-text">{{ card.card_description }}</p>
            <br>
            <p class="card-subtext">{{ card.card_context }}</p>
         </div> -->
         {% else %}
         <a href="{{ card.href }}" class="stretched-link"><img src="{{ card.card_image }}" alt="{{ card.card_title }}"></a>
         <div class="card-body">
            <a href="{{ card.href }}" class="stretched-link">
               <h5 class="card-title">{{ card.card_title }}</h5>
            </a>
            <p class="card-text">{{ card.card_description }}</p>
            <br>
         </div>
         {% endif %}
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}