<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Minutiae Master</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="./static/main.css">
</head>

<body>

   <div class="container">
      <h1 class="mt-5 mb-4 text-center">Minutiae Master</h1>
      <div class="row justify-content-center mt-4">
         <div class="col-md-3">
            <div class="card h-100 text-center">
               <a href="/learn_home" class="stretched-link"><img
                     src="https://static.thenounproject.com/png/4365546-200.png" alt="Learn"></a>
               <div class="card-body">
                  <a href="/learn_home" class="stretched-link">
                     <h5 class="card-title">LEARN</h5>
                  </a>
                  <p class="card-text">Learn fingerprint patterns and minutiae</p>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="card h-100 text-center">
               <a href="/master_home" class="stretched-link"><img
                     src="https://static.thenounproject.com/png/3241393-200.png" alt="Master"></a>
               <div class="card-body">
                  <a href="/master_home" class="stretched-link">
                     <h5 class="card-title">MASTER</h5>
                  </a>
                  <p class="card-text">Test your knowledge!<br>Mastery quizzes unlocked after learning a concept</p>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="card h-100 text-center">
               <a href="/solve_home" class="stretched-link"><img
                     src="https://cdn.icon-icons.com/icons2/3079/PNG/512/detective_crime_man_persona_vatar_icon_191245.png"
                     alt="Solve"></a>
               <div class="card-body">
                  <a href="/solve_home" class="stretched-link">
                     <h5 class="card-title">SOLVE</h5>
                  </a>
                  <p class="card-text">Use what you learned to crack the case!<br>Unlocks after perfect scores in MASTER
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>

</body>

</html>