<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LOOPS</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="./static/learn.css">
   <script src="./static/learn.js"></script>
</head>

<body>

   <div class="container">
      <h1 class="mt-5 mb-4 text-center"><strong>LOOPS</strong></h1>

      <div class="text-center mb-3">
         <h3>Plain Loop</h3>
      </div>
      <div id="plainLoopCarousel" class="carousel slide" data-ride="false">
         <div class="carousel-inner">
            <div class="carousel-item active image-zoom-container">
               <img src="https://www.forensicsciencesimplified.org/prints/img/Loop.png"
                  class="image-zoom d-block mx-auto img-fluid" alt="Plain Loop 1">
            </div>
            <div class="carousel-item image-zoom-container">
               <img
                  src="https://assets-global.website-files.com/61845f7929f5aa517ebab941/64081c4d2c0f29619291c5b6_5)%20Ulnar%20loop.jpg"
                  class="image-zoom d-block mx-auto img-fluid" alt="Plain Loop 2">
            </div>
            <div class="carousel-item image-zoom-container">
               <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-d81eUjxEjDoOf6jwv_nbf4FRYKi5vCDdrkScdiS7Tg&s"
                  class="image-zoom d-block mx-auto img-fluid" alt="Plain Loop 3">
            </div>
            <!-- Add more images here -->
         </div>
         <a class="carousel-control-prev" href="#plainLoopCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#plainLoopCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>

      <p class="text-center mt-3">A <strong>plain loop</strong> pattern typically features ridges that enter from one
         side of the
         impression, curve around, and exit from the same side.</p>

      <div class="text-center mb-3">
         <h3>Double Loop</h3>
      </div>
      <div id="doubleLoopCarousel" class="carousel slide" data-ride="false">
         <div class="carousel-inner">
            <div class="carousel-item active image-zoom-container">
               <img
                  src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/finger-print-double-loop-whorl-vcnw.jpg"
                  class="d-block mx-auto img-fluid image-zoom" alt="Double Loop 1">
            </div>
            <div class="carousel-item image-zoom-container">
               <img
                  src="https://assets-global.website-files.com/61845f7929f5aa517ebab941/64081cef3ef911d8f8d87126_7)%20Double%20loop.jpg"
                  class="d-block mx-auto img-fluid image-zoom" alt="Double Loop 2">
            </div>
            <div class="carousel-item image-zoom-container">
               <img src="https://i.pinimg.com/originals/89/96/50/899650117c470b303c2efcd5f0cd2325.gif"
                  class="d-block mx-auto img-fluid image-zoom" alt="Double Loop 2">
            </div>
            <!-- Add more images here -->
         </div>
         <a class="carousel-control-prev" href="#doubleLoopCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#doubleLoopCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>

      <p class="text-center mt-3">A <strong>double loop</strong>, in contrast, exhibits two separate loop formations
         within the
         fingerprint, often with ridges curving in opposite directions.</p>

      <div class="row justify-content-center mt-4">
         <div class="col-md-6 text-center">
            <button class="btn btn-primary mr-2" onclick="window.location.href='/learn_patterns'">BACK</button>
            <button class="btn btn-primary" onclick="window.location.href='/learn_arches'">ARCHES</button>
         </div>
      </div>
   </div>
   <br>
   <br>
   <br>
   <br>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>