<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LEARN</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="./static/main.css">
</head>

<body>

   <div class="container">
      <h1 class="mt-5 mb-4 text-center">LEARN</h1>
      <p class="text-center">What would you like to <strong>learn</strong> about today?</p>
      <div class="row justify-content-center mt-4">
         <div class="col-md-3">
            <div class="card text-center {% if patterns_green%}green-outline{% endif %}">
               <a href="/learn_patterns" class="stretched-link"><img src="https://us.123rf.com/450wm/lusig/lusig2110/lusig211000003/176346833-fingerprint-scan-icon-thumbprint-personal-identification-authorization-linear-drawing-vector.jpg?ver=6" alt="Patterns"></a>
               <div class="card-body">
                  <a href="/learn_patterns" class="stretched-link"><h5 class="card-title">Patterns</h5></a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="card text-center {% if minutiae_green%}green-outline{% endif %}">
               <a href="/learn_minutiae" class="stretched-link"><img src="https://o.quizlet.com/q-zs0HyAiZqXquAUClk-Kw.jpg" alt="Minutiae"></a>
               <div class="card-body">
                  <a href="/learn_minutiae" class="stretched-link"><h5 class="card-title">Minutiae</h5></a>
               </div>
            </div>
         </div>
      </div>
      <div class="row justify-content-center mt-4">
         <div class="col-md-6 text-center">
            <a href="/" class="btn btn-primary">BACK</a>
         </div>
      </div>
   </div>

</body>

</html>