<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SPUR</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="./static/learn.css">
   <script src="./static/learn.js"></script>
</head>

<body>

   <div class="container">
      <h1 class="mt-5 mb-4 text-center"><strong>SPUR</strong></h1>

      <div id="spurCarousel" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active image-zoom-container">
               <img
                  src="https://accessdl.state.al.us/AventaCourses/access_courses/forensic_sci_ua_v22/03_unit/03-05/images/spur_oldcourse.jpg"
                  class="d-block mx-auto img-fluid image-zoom" alt="Spur Image 1">
            </div>
            <div class="carousel-item image-zoom-container">
               <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlSWfpqiV6qVA52AXHEpRdy0B51DD1JYi7-y7iolLTdA&s"
                  class="d-block mx-auto img-fluid image-zoom" alt="Spur Image 2">
            </div>
            <div class="carousel-item image-zoom-container">
               <img
                  src="https://image.slidesharecdn.com/fingerprintsandridgecharacteristics-160307185226/85/fingerprints-and-ridge-characteristics-21-320.jpg"
                  class="d-block mx-auto img-fluid image-zoom" alt="Spur Image 3">
            </div>
            <!-- Add more images here -->
         </div>
         <a class="carousel-control-prev" href="#spurCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#spurCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>

      <p class="text-center mt-3">A <strong>fingerprint spur</strong> is characterized by a ridge that branches off from
         the main ridge and reconnects or ends
         after a short distance, resembling a small protrusion or spur along the ridge pattern.</p>

      <div class="row justify-content-center mt-4">
         <div class="col-md-6 text-center">
            <a href="/learn_minutiae" class="btn btn-primary mr-2">BACK</a>
            <a href="/learn_island" class="btn btn-primary">ISLAND</a>
         </div>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>