{% extends 'navbar.html' %}
{% block content %}
<link rel="stylesheet" href="./static/main.css">
<h1 class="mt-5 mb-4 text-center">LEARN</h1>
<p class="text-center">What would you like to <strong>learn</strong> about today?</p>
<div class="row justify-content-center mt-4">
   <div class="col-md-3">
      <div class="card hover-active text-center {% if patterns_green%}green-outline{% endif %}">
         <a href="/learn_patterns" class="stretched-link"><img src="https://pngimg.com/d/fingerprint_PNG85.png" alt="Patterns"></a>
         <div class="card-body">
            <a href="/learn_patterns" class="stretched-link"><h5 class="card-title">Patterns</h5></a>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="card hover-active text-center {% if minutiae_green%}green-outline{% endif %}">
         <a href="/learn_minutiae" class="stretched-link"><img src="https://cdn2.iconfinder.com/data/icons/crime-law-and-justice-2-1/85/fingerprint_fingerprints_analysis_evidence_identification_investigation-512.png" alt="Minutiae"></a>
         <div class="card-body">
            <a href="/learn_minutiae" class="stretched-link"><h5 class="card-title">Minutiae</h5></a>
         </div>
      </div>
   </div>
</div>
<div class="row justify-content-center mt-4">
   <div class="col-md-6 text-center">
      <a href="/" class="btn btn-accent">BACK</a>
   </div>
</div>
{% endblock %}