{% extends 'navbar.html' %}
{% block content %}
<link rel="stylesheet" href="./static/learn_patterns.css">
<h1 class="mt-5 mb-4 text-center">LEARN: PATTERNS</h1>
<h5 class="text-center mt-4">Let's start off with learning about fingerprint <strong>patterns</strong>.</h5>
<h5 class="text-center mt-4">Click on a pattern group below to learn about each kind of pattern!</h5>

<div class="row justify-content-center mt-4">
   <div class="col-md-3">
      <div class="card hover-active-no-color text-center {% if loops_green%}green-outline{% endif %}">
         <a href="/learn_loops" class="stretched-link"><img
            src="./static/loop.png"
            class="card-img-top" alt="Loops"></a>
         <div class="card-body">
            <a href="/learn_loops" class="stretched-link"><h5 class="card-title">Loops</h5></a>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="card hover-active-no-color text-center {% if arches_green%}green-outline{% endif %}">
         <a href="/learn_arches" class="stretched-link"><img src="./static/arch.png" class="card-img-top" alt="Arches"></a>
         <div class="card-body">
            <a href="/learn_arches" class="stretched-link"><h5 class="card-title">Arches</h5></a>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="card hover-active-no-color text-center {% if whorls_green%}green-outline{% endif %}">
         <a href="/learn_whorls" class="stretched-link"><img src="./static/whorls.png" class="card-img-top" alt="Whorls"></a>
         <div class="card-body">
            <a href="/learn_whorls" class="stretched-link"><h5 class="card-title">Whorls</h5></a>
         </div>
      </div>
   </div>
</div>

<h5 class="text-center mt-4">Finished learning? Head to <strong>MASTER</strong> below to prove it!</h5>

<div class="row justify-content-center mt-3">
   <div class="col-md-6 text-center">
      <a href="/learn_home" class="btn btn-base mr-3">BACK</a>
      {% if (loops_green and arches_green and whorls_green)%}
      <a href="/master_patterns_home" class="btn btn-accent">MASTER</a>
      {% else %}
      <a class="btn btn-locked">MASTER</a>
      {% endif %}
   </div>
</div>
{% endblock %}
