<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>RIDGE ENDING</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="./static/learn.css">
   <script src="./static/learn.js"></script>
</head>

<body>

   <div class="container">
      <h1 class="mt-5 mb-4 text-center"><strong>RIDGE ENDING</strong></h1>

      <div id="ridgeEndingCarousel" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active image-zoom-container">
               <img src="https://accessdl.state.al.us/AventaCourses/access_courses/forensic_sci_ua_v22/03_unit/03-05/images/endingridge_oldcourse.jpg" class="d-block mx-auto img-fluid image-zoom" alt="Ridge Ending Image 1">
            </div>
            <div class="carousel-item image-zoom-container">
               <img src="https://image.slidesharecdn.com/fingerprintsandridgecharacteristics-160307185226/85/fingerprints-and-ridge-characteristics-16-320.jpg" class="d-block mx-auto img-fluid image-zoom" alt="Ridge Ending Image 2">
            </div>
            <div class="carousel-item image-zoom-container">
               <img
                  src="https://file.techscience.com/files/iasc/2023/TSP_IASC-36-2/TSP_IASC_31692/TSP_IASC_31692/Images/IASC_31692-fig-1.png/mobile_webp"
                  class="d-block mx-auto img-fluid image-zoom" alt="Ridge Ending Image 3">
            </div>
            <!-- Add more images here -->
         </div>
         <a class="carousel-control-prev" href="#ridgeEndingCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#ridgeEndingCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>

      <p class="text-center mt-3">A <strong>fingerprint ridge ending</strong> is marked by a ridge that abruptly
         terminates without branching, resembling a point
         or dot within the fingerprint pattern.</p>

      <div class="row justify-content-center mt-4">
         <div class="col-md-6 text-center">
            <a href="/learn_minutiae" class="btn btn-primary mr-2">BACK</a>
            <a href="/learn_bifurcation" class="btn btn-primary">BIFURCATION</a>
         </div>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>