<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MASTER</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="./static/main.css">
</head>

<body>

   <div class="container">
      <h1 class="mt-5 mb-4 text-center">MASTER</h1>
      <p class="text-center">What would you like to <strong>master</strong> today?</p>
      <p class="text-center">Remember: Only perfect scores prove mastery of a concept!</p>

      <div class="row justify-content-center mt-4">
         <div class="col-md-3">
            <div class="card text-center">
               <a href="/master_patterns_home" class="stretched-link"><img src="https://us.123rf.com/450wm/lusig/lusig2110/lusig211000003/176346833-fingerprint-scan-icon-thumbprint-personal-identification-authorization-linear-drawing-vector.jpg?ver=6" class="card-img-top" alt="Patterns"></a>
               <div class="card-body">
                  <a href="/master_patterns_home" class="stretched-link"><h5 class="card-title">Patterns</h5></a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="card text-center">
               <a href="/master_minutiae_home" class="stretched-link"><img src="https://o.quizlet.com/q-zs0HyAiZqXquAUClk-Kw.jpg" class="card-img-top" alt="Minutiae"></a>
               <div class="card-body">
                  <a href="/master_minutiae_home" class="stretched-link"><h5 class="card-title">Minutiae</h5></a>
               </div>
            </div>
         </div>
      </div>

      <div class="row justify-content-center mt-4">
         <div class="col-md-6 text-center">
            <a href="/" class="btn btn-primary">BACK</a>
         </div>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>