<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MASTER: MINUTIAE</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="main.css">
</head>

<body>

   <div class="container">
      <h1 class="mt-5 mb-4 text-center"><strong>MASTER: MINUTIAE</strong></h1>
      <p class="text-center">Get ready! Each question is timed. Make sure to get a perfect score for mastery on this
         concept. <br> Mastery on both patterns AND minutiae unlocks <strong>SOLVE!</strong></p>

      <div class="row justify-content-center mt-4">
         <div class="col-md-6 text-center">
            <a href="/" class="btn btn-primary mr-2">HOME</a>
            <a href="/master_minutiae/<int:question_id>" class="btn btn-primary">GO</a>
         </div>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>