{% extends 'navbar.html' %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/learn.css">
<h1 class="mt-5 mb-4 text-center"><strong>{{ data.quiz_title }}</strong></h1>
<p class="text-center">{{ data.quiz_description }}</p>

<div class="row justify-content-center mt-4">
   <div class="col-md-6 text-center">
      <a href="/" class="btn btn-base mr-2">HOME</a>
      <a href="{{ data.go_href }}" class="btn btn-accent">GO</a>
   </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}