<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Minutiae Master</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
   <nav class="navbar">
      <div class="nav-container">
         <div class="row">
            <div class="col-auto mr-auto">
               <a class="navbar-option" href="/">Home</a>
            </div>
            <div class="col">
               <a class="navbar-option" href="/learn_home">Learn</a>
            </div>
            <div class="col">
               {% if master_clickable %}
               <a class="navbar-option" href="/master_home">Master</a>
               {% else %}
               <span class="navbar-option disabled">Master</span>
               {% endif %}
            </div>
         </div>
      </div>
   </nav>
   <div class="container">
      {% block content %}{% endblock %}
   </div>
</body>

</html>