<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MASTER: PATTERNS</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/main.css">
</head>

<body>
   <div class="container">
      <h1 class="mt-5 mb-4 text-center"><strong>MASTER: PATTERNS</strong></h1>

      <div class="text-center mb-3">
         <h3>{{ quiz_data['id'] }}. {{ quiz_data['question'] }}</h3>
      </div>

      <div class="row justify-content-center">
         <div class="col-md-4 text-center">
            <img src="{{ quiz_data['image'] }}" class="fixed-image-size" alt="Pattern Image">
         </div>
      </div>

      <div class="row justify-content-center mt-4">
         <div class="col-md-9 text-center">
            <form id="answerForm" method="POST" action="/check_pattern_answer/{{ quiz_data['id'] }}">
               {% for option in quiz_data['options'] %}
               <button class="btn btn-base custom-button" type="submit" name="answer" value="{{ option }}"
                  onclick="handleButtonClick(this)">{{ option }}</button>
               {% endfor %}
               <input type="hidden" name="correct_answer" value="{{ quiz_data['answer'] }}">
               <input type="hidden" name="question_num" value="{{ quiz_data['id'] }}">
            </form>
         </div>
      </div>
   </div>

   <div class="row justify-content-center mt-4">
      <div class="col-md-6 text-center">
         <a href="{{ quiz_data['next-path'] }}" class="btn btn-accent" id="goButton">GO</a>
      </div>
   </div>

   <div id="answerDiv" questionAnswer="{{ quiz_data['answer'] }}"></div>

   <script src="../static/quiz_pattern.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>